/*INITIAL PRESETS------------------------------------------------------------------------------------------------------------------------*/

*{margin: 0; padding: 0;}

@media (max-width: 600px) {
    body {
        background-image: url('Resources/06.Responsive/sorting-hat-responsive.png');
        background-size: cover;}}           

html{
    scroll-behavior: smooth;}

    .header{
        width: 100%;
        position: fixed;}

        #website-brand{
            position: fixed;
            margin-left: 49%;
            transform: translate(-50%);
            width: auto;
            height: 80px;
            top: 0;
            padding-top: 10px;
            z-index: 1;}

            .links-pages{
                display: flex;
                flex-direction: row;
                position: fixed;
                width: 100%;
                padding-top: 100px;
                background-color: rgba(143, 55, 55, 0.007);
                z-index: 250;}
               

                .links-pages:hover{
                    background-color: rgba(0, 0, 0, 0.8);
                    transition: all 1.5s;}

                    .links-pages a{
                        padding: 15px 0;
                        flex-grow: 1;
                        transition: all 1.2s;
                        text-align: center;
                        font-family: 'Cormorant Upright', serif;
                        font-size: 100%;
                        color: white;
                        border-top: 1px solid rgb(214, 211, 211);
                        font-weight: bold;
                        text-decoration: none;
                        background-color: rgba(0, 0, 0, 0.13);
                        z-index: 200;}

                        .links-pages a:hover{
                            background-color: rgba(255,255,255,0.4);
                            border-bottom: 1px rgba(74, 1, 158, 0.836);
                            padding-bottom: 2px;
                            border-bottom-style: solid;}

                                    @media (max-width: 600px) {
                                        .links-pages{
                                            display: flex;
                                            flex-direction: flex;
                                            width: 100%;
                                            position: static;}}

                                    @media (max-width: 600px) {
                                        .links-pages a{
                                            font-size: 50%;}}

/*PAGE------------------------------------------------------------------------------------------------------------------------*/

.container{
    font-family: 'Cormorant Upright', serif;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100vh;
    overflow: hidden;
    margin: 0;} 

    .sorting-container{
        box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0);
        width: 700px;
        margin-top: 150px;
        overflow: hidden;
        border-radius: 20px;
        border: 1px solid snow;}
        
        .sorting-header{
            background-image: linear-gradient(to bottom,#624a98, #735f65);
            padding: 1rem;
            font-family: 'Cormorant Upright', serif;
            color: rgb(255, 253, 253);}

            h2{
                padding: 1rem;
                text-align: center;
                margin: 0;
                font-weight: 500;
                font-size: 1.3rem;}

                h3{
                    padding: 1rem;
                    text-align: center;
                    margin: 0;
                    font-weight: 500;
                    font-size: 1.3rem;}

                    ul li{
                        font-size: 1rem;
                        margin: 1.5rem;
                        background-color: rgb(202, 197, 200);
                        font-weight: bold;
                        border-radius: 20px;
                        padding: 6px;}

                        ul li a{
                            cursor: pointer;
                            text-decoration: none;
                            font-family: 'Cormorant Upright', serif;
                            font-weight: 100;
                            color: #201619;}

                            ul li:hover{
                                background-color: rgb(212, 163, 90);}

                        